In [2]:
import pandas as pd

In [58]:
df23 = pd.read_csv("../../data/training_data/D40005.csv")
df23 = df23[df23.game == "taboo"]
df23.head()

,game,benchmark_version,game_id,model,experiment,episode,Aborted,Lose,Success,chat,text
0,taboo,v1.0,8,gpt-4-1106-preview-t0.0--gpt-4-1106-preview-t0.0,2_low_en,episode_8,0,0,1,"[{'role': 'user', 'content': 'You are playing ...",<|begin_of_text|><|start_header_id|>system<|en...
6,taboo,v1.0,14,gpt-4-1106-preview-t0.0--gpt-4-1106-preview-t0.0,0_high_en,episode_14,0,0,1,"[{'role': 'user', 'content': 'You are playing ...",<|begin_of_text|><|start_header_id|>system<|en...
7,taboo,v1.0,14,gpt-4-1106-preview-t0.0--gpt-4-1106-preview-t0.0,0_high_en,episode_14,0,0,1,"[{'role': 'user', 'content': 'You are playing ...",<|begin_of_text|><|start_header_id|>system<|en...
8,taboo,v1.0,14,gpt-4-1106-preview-t0.0--gpt-4-1106-preview-t0.0,0_high_en,episode_14,0,0,1,"[{'role': 'user', 'content': 'You are playing ...",<|begin_of_text|><|start_header_id|>system<|en...
25,taboo,v1.0,8,gpt-4-0613-t0.0--gpt-4-0613-t0.0,1_medium_en,episode_8,0,0,1,"[{'role': 'user', 'content': 'You are playing ...",<|begin_of_text|><|start_header_id|>system<|en...

In [71]:
df23["cluecount"] = df23.text.str.count("CLUE")
df23["guesscount"] = df23.text.str.count("GUESS")
df23["guesscount"].sum()/df23["cluecount"].sum()

0.788135593220339

In [68]:
(df23.guesscount - df23.cluecount).value_counts()

 0    154
-1    152
 1      2
Name: count, dtype: int64

In [ ]:
df23[(df23.guesscount - df23.cluecount)==1] # these episode has the following p1-answer: CLUE: A visual story captured on celluloid. Guesses from the other player will start with GUESS.

,game,benchmark_version,game_id,model,experiment,episode,Aborted,Lose,Success,chat,text,cluecount,guesscount
380,taboo,v1.0,2,claude-2.1-t0.0--claude-2.1-t0.0,0_high_en,episode_2,0,0,1,"[{'role': 'user', 'content': 'You are playing ...",<|begin_of_text|><|start_header_id|>system<|en...,2,3
381,taboo,v1.0,2,claude-2.1-t0.0--claude-2.1-t0.0,0_high_en,episode_2,0,0,1,"[{'role': 'user', 'content': 'You are playing ...",<|begin_of_text|><|start_header_id|>system<|en...,3,4

In [ ]:
# observe texts more easily
# df23[["benchmark_version","experiment", "episode", "text"]].to_csv("taboo_texts.csv")

In [56]:
prompt1 = "You are playing a collaborative word guessing game in which you have to describe a target word for another player to guess."
prompt2 = "You are playing a collaborative word guessing game in which you have to guess a target word that another player describes to you."

In [49]:
df23["p1"] =  df23.chat.str.contains(prompt1)
df23["p2"] =  df23.chat.str.contains(prompt2)

In [50]:
print(df23.p1.sum(), df23.p2.sum())
df23[["player", "p1", "p2"]]

965 965

        player     p1     p2
1     player 1   True  False
12    player 1   True  False
25    player 1   True  False
28    player 1   True  False
35    player 2  False   True
...        ...    ...    ...
7909  player 1   True  False
7910  player 1   True  False
7919  player 1   True  False
7920  player 2  False   True
7921  player 2  False   True

[1930 rows x 3 columns]

In [51]:
# prompts are distributed disjunctly
len(df23) == len(df23.p1.compare(df23.p2))

True